{% extends 'orders/base.html' %} {% load static %} {% block content %}

<span class="title_text">Добавить новый заказ</span>

<form method="post" id="order-form">
  {% csrf_token %} {{ order_form.as_p }}

  <fieldset>
    <legend>Добавить блюдо</legend>
    <div class="dish-input">
      <label for="dish_name_input">Название блюда:</label>
      <input type="text" id="dish_name_input" name="dish_name_input" />
    </div>
    <div class="dish-input">
      <label for="dish_price_input">Цена:</label>
      <input type="text" id="dish_price_input" name="dish_price_input" />
    </div>
    <button type="button" id="add-dish-button" class="add-button">
      Добавить блюдо
    </button>
  </fieldset>
  <hr />
  <fieldset>
    <legend class="inline_dish-list">Список блюд в заказе:</legend>
    <table border="1" id="dishes-table" class="dish-table" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Название блюда</th>
          <th>Цена</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <!-- Здесь будут добавляться строки с блюдами -->
      </tbody>
    </table>

    <button type="submit" class="submit-order">Создать заказ</button>
  </fieldset>
</form>
{% endblock %}
